.capital{
  text-transform: capitalize;
}

.sign_up--form fieldset{
  border: 5px yellow solid;
  margin: 10px;
}

.hide{
  display: none;
}

.maroon{
  background-color: maroon;
  color: white;
  padding: 2px;
}

.purple{
  background-color: purple;
  color: white;
  padding: 2px;
}
